<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbarlayout" >

    <application>

        <activity android:name=".AppbarMainActivity"/>
        <activity android:name=".AppbarMapActivity"/>
        <activity android:name=".AppbarIvActivity"/>
    </application>

</manifest>
