<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amap.locationservicedemo">

    <application>
        <activity
            android:name=".LocationServiceActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".LocationService"
            android:process=":remote1">
            <intent-filter>
                <action android:name="com.amap.locationservicedemo.LocationService" />
            </intent-filter>
        </service>
        <service
            android:name=".LocationHelperService"
            android:process=":remote2">
            <intent-filter>
                <action android:name="com.amap.locationservicedemo.LocationHelperService" />
            </intent-filter>
        </service>

    </application>

</manifest>