<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apis.amap.com.move">

    <application>
        <activity
            android:name=".SmoothMoveActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>